.fas {
  margin-top: 2px;
}

.fa-wifi {
  margin-top: 2px;
  font-size: 11px;
}
.fa-heart {
  position: absolute;
  top: 35px;
  right: 16px;
  font-size: 30px;
  color: white;
  font-weight: 100;
}

.fa-map-marker-alt {
  margin-right: 10px;
  font-size: 14px;
  color: #828282;
}

.fa-clock {
  margin-right: 10px;
  font-size: 14px;
  color: #828282;
}

.fa-phone-alt {
  margin-right: 10px;
  font-size: 14px;
  color: #828282;
}

.fa-globe {
  margin-right: 10px;
  font-size: 14px;
  color: #828282;
}

.fa-chevron-down {
  margin-left: 15px;
  font-size: 14px;
  color: #d3b23b;
}

.fa-angle-right {
  position: absolute;
  color: #d3b23b;
  right: 16px;
  font-size: 18px;
}
