input[type="radio"] {
  display: none;
}

.star {
  cursor: pointer;
  transition: color 200ms;
}
.fas {
  margin-top: 2px;
}
.fa-chevron-left {
  font-size: 25px;
  color: #d3b23b;
}

.fa-wifi {
  margin-top: 2px;
  font-size: 11px;
}
